body{
    background:#f3f3fa;
}
main {
    min-height: 100vh;
    padding-top: 8rem;
    overflow-y: hidden;
    padding-bottom: 3rem;
}
.account-setting {
    padding-top: 75px;
}
h2.title-h2 {
    text-align: center;
    font-size: 45px;
    font-family: 'dinbold';
    padding-bottom: 30px;
}
.content-account {
    padding: 40px;
    background: #fff;
}
h3.content-title {
    font-size: 31px;
    font-family: 'dinbold';
    margin-bottom: 20px;
}
a.btn.btn-primary.round-new {
    background: #f04923;
    border: 0;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 30px;
}
ul.account-links li a {
    color: #000000;
}
ul.account-links {
    padding: 0;
}

ul.account-links li {
    list-style: none;
    margin-bottom: 5px;
}
.anchor-link{
    font-size: 21px;
}